
 ## CCI = (Typical Price  -  20-period SMA of TP) / (.015 x Mean Deviation)

### Typical Price (TP) = (High + Low + Close)/3

### Constant = .015

In [1]:
import sys
sys.path.append("..")
from stockdata import * 
import pandas as pd

In [2]:
datpath = "../datum/"
byd_day_file = datpath + "sz002594.day"
byd_day_datum = daysDataOfStock(byd_day_file) # defaults return 60 bars

In [3]:
def dev(bars):
    
    return (np.abs(bars.typrice - bars.tp_sma[-1]))

def mdev(bars):
    """mean deviation """
    return np.round(np.sum(dev(bars))/len(bars),2)

def compute_bars_CCI(bars, windows):
    """computing the bars cci from a dataframe data type
    window = 20
    bars = byd_day_DF """
    length = len(bars)
    #len(bars)
    bars["mdev"] = pd.concat([(pd.Series(mdev(bars.iloc[i:i+window]), \
                            index=[bars.index[i+window-1]])) for i in xrange(length-window)])
    cci = (bars.typrice-bars.tp_sma)/(0.015*bars.mdev) 
    bars["cci"] =  cci.round(2)
    return cci.round(2)

In [4]:
# Show how we add to DataFrame new field!!!
byd_day_DF = byd_day_datum.DF  
byd_day_DF["typrice"] = (byd_day_DF.close+byd_day_DF.high+byd_day_DF.low)/3
# byd_day_DF["tp_sma"] = pd.rolling_mean(byd_day_DF.typrice,20)  # deprecated 
byd_day_DF["tp_sma"] = byd_day_DF.typrice.rolling(window=20).mean()
# byd_day_DF.typrice[0:19] - byd_day_DF.tp_sma[19]
#byd_day_DF[:30]
byd_day_DF["abs_dev"] = dev(byd_day_DF[:20])
byd_day_DF["mdev"] = mdev(byd_day_DF[:20])
byd_day_DF[:20]

#mdev(byd_day_DF[:20])

,open,high,low,close,vol,typrice,tp_sma,abs_dev,mdev
date_idx,,,,,,,,,
2016-06-20,59.51,60.16,59.28,59.60,44497.36,59.680000,NaN,1.107167,0.73
2016-06-21,59.95,60.60,59.21,59.39,98047.29,59.733333,NaN,1.053833,0.73
2016-06-22,60.42,61.80,60.15,60.92,133208.45,60.956667,NaN,0.169500,0.73
2016-06-23,60.36,60.99,59.77,60.03,65656.58,60.263333,NaN,0.523833,0.73
2016-06-24,59.99,60.49,57.30,59.11,82357.35,58.966667,NaN,1.820500,0.73
2016-06-27,59.00,59.94,58.86,59.67,47690.61,59.490000,NaN,1.297167,0.73
2016-06-28,59.30,60.40,58.87,60.30,70130.72,59.856667,NaN,0.930500,0.73
2016-06-29,60.04,60.50,59.76,60.40,67588.38,60.220000,NaN,0.567167,0.73
2016-06-30,60.45,61.48,60.03,61.01,87859.76,60.840000,NaN,0.052833,0.73
2016-07-01,60.98,62.05,60.46,61.39,91117.74,61.300000,NaN,0.512833,0.73
2016-07-04,61.25,61.93,60.62,61.45,82442.65,61.333333,NaN,0.546167,0.73
2016-07-05,61.40,61.56,60.21,60.80,91866.83,60.856667,NaN,0.069500,0.73
2016-07-06,60.77,61.20,60.38,60.82,49594.88,60.800000,NaN,0.012833,0.73
2016-07-07,60.80,62.53,60.60,61.93,123337.95,61.686667,NaN,0.899500,0.73
2016-07-08,62.17,63.09,61.83,62.19,91199.91,62.370000,NaN,1.582833,0.73
2016-07-11,62.59,62.91,61.15,61.23,68910.37,61.763333,NaN,0.976167,0.73
2016-07-12,60.98,61.47,60.18,61.07,88768.36,60.906667,NaN,0.119500,0.73
2016-07-13,61.00,61.12,60.45,60.93,89922.94,60.833333,NaN,0.046167,0.73
2016-07-14,60.73,61.36,60.47,61.20,70836.08,61.010000,NaN,0.222833,0.73
2016-07-15,61.69,64.18,61.46,62.99,191155.16,62.876667,60.787167,2.089500,0.73

In [16]:
window = 20
bars = byd_day_DF
length = len(bars)
bars.dtypes

open       float64
high       float64
low        float64
close      float64
vol        float64
typrice    float64
tp_sma     float64
abs_dev    float64
mdev       float64
cci        float64
dtype: object

In [ ]:
#len(bars)
bars["mdev"] = pd.concat([(pd.Series(mdev(bars.iloc[i:i+window]), \
                        index=[bars.index[i+window-1]])) for i in xrange(length-window)])
cci = (bars.typrice-bars.tp_sma)/(0.015*bars.mdev) 
bars["cci"] =  cci.round(2)
cci[-10:]

In [15]:
cci_bydd = compute_bars_CCI(bars, window) 
cci_bydd[window-1:length]  # from the first non-nan value to the length
cci_bydd.dtypes

dtype('float64')

In [ ]:
bars["cci"] =  cci.round

In [ ]:
bars["cci"] =  cci.round